body{
    background-color: #f2f2f2;
    font: 18px Century Gothic, sans-serif;
    background-image: url(bg.jpg);
}

.container{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    height: 90%;
    width: 90%;
    margin-top: 2.5%;
    margin-left: 5%;
    padding: 0px;
}

.leftBody, .rightBody{
    height: 100%;
}

.panel-primary{
    height: 100%;
    border-radius: 4px;
    margin: 1px;
}

.primaryHeading{
    font-size: 18px;
    height: 11%;
    background-color: #0052cc;
    margin: 0px;
    overflow-x: auto;
}

.primaryHeading > .row{
    padding: 15px;
}

.panel{
    background-color: rgba(182,199,214,0.2);
}

#messageArea{
    margin: 0px;
    overflow-y: auto;
}

#contactListContainer{
    margin: 0px;
    overflow-y: auto;
    padding: 0px;
}

@media (min-height:900px){
    #contactListContainer, #messageArea{
        height: 83.2%;
    }
}

@media (max-height:600px){
    #contactListContainer, #messageArea{
        height: 70%;
    }
}

@media (max-height:700px){
    #contactListContainer, #messageArea{
        height: 80%;
    }
}

@media (max-height:800px){
    #contactListContainer, #messageArea{
        height: 82%;
    }
}

@media (max-height:900px){
    #contactListContainer, #messageArea{
        height: 83%;
    }
}

.contact{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.3s;
}

.contact:hover{
    background-color: rgba(255, 255, 255, 1)
}

.activeContact{
    padding: 10px;
    background-color: rgba(255, 255, 255, 1)
}

.panel-footer{
    background-color: #0052cc;
    margin: 0px;
    border: 0px;
}

#userName, #messageTargetName{
    font-size: 18px;
}

.msgBody{
    background-color: #FFFFFF;
    color: #1a1a1a;
    font-size: 16px;
    word-wrap: break-word;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.msgHeading, .msgFooter{
    background-color: lightgray;
    font-size: 14px;
    padding: 5px;
}

.userInfo{
    overflow: hidden;
}

.logout{
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}